.main {
  margin-top: 86px;
  margin-bottom: 77px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: var(--text-colorback);
  border-radius: 13px;
  border: 9px solid var(--text-colorpink);
}
.menu-header {
  font-family: var(--text-italianno);
  font-size: 128px;
  font-weight: 400;
  line-height: 1.25em;
  color: var(--text-colorpink);
  margin: 0 0 80px 32px;
}

.menu .row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.menu .row.top {
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.img-main-block {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.text-overlay {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  font-family: var(--text-italianno);
  font-size: 64px;
  font-weight: 400;
  font-style: italic;
  line-height: 74px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.menu .row.middle {
  justify-content: space-between;
  flex-direction: column;
}

.menu-item {
  object-fit: cover;
  border-radius: 13px;
  border: 9px solid var(--text-colorpink);
  margin: 32px;
}

.menu-item.small {
  height: 200px;
}

.menu-item.small.full-height {
  flex-grow: 1;
  height: 100%;
}

.menu-item.large {
  height: 250px;
}

// .rightmenu {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }
